<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867211967543-pq8joven9t6d3s9kr0ig0enath9rsqas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867211967543-pq8joven9t6d3s9kr0ig0enath9rsqas</string>
	<key>API_KEY</key>
	<string>AIzaSyAc2D3Nd8QmMuTCHNMv_HcpD2bgd7PQTg8</string>
	<key>GCM_SENDER_ID</key>
	<string>867211967543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentHouseApp</string>
	<key>PROJECT_ID</key>
	<string>homerent-a6208</string>
	<key>STORAGE_BUCKET</key>
	<string>homerent-a6208.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867211967543:ios:e0e8415c104e21063053b2</string>
</dict>
</plist>